In [1]:
import pandas as pd

In [6]:
details = pd.read_csv('details_9m.csv', header=None)

In [7]:
details.head()

        0    1        2     3  4     5
0  2150.0  Mtr  38000.0  Dirt  H  Trot
1  2150.0  Mtr  29000.0  Dirt  H  Trot
2  2875.0  Mtr  44000.0  Dirt  H  Trot
3  2150.0  Mtr  32000.0  Dirt  H  Trot
4  2875.0  Mtr  29000.0  Dirt  H  Trot

In [9]:
details.iloc[:,1].value_counts()

F      58991
M      38787
Mtr    13249
Y       4629
Name: 1, dtype: int64

In [10]:
details.iloc[:,3].value_counts()

Dirt             73219
Turf             31013
Synthetic        10801
Inner Track        452
Outer Track        108
Downhill Turf       35
Hurdle              14
Steeplechase        14
Name: 3, dtype: int64

In [11]:
details.iloc[:,4].value_counts()

T     62959
H     47852
Q      4194
L       313
MX      271
A        67
Name: 4, dtype: int64

In [18]:
details.iloc[:,5].value_counts()[:11]

Pace                           26947
Trot                           20236
Handicap                       18943
Claiming                       12160
Maiden Claiming                 5141
Allowance                       4990
Maiden Special Weight           3464
Maiden Special                  3127
Maiden                          2945
Stakes                          2581
Allowance Optional Claiming     2325
Name: 5, dtype: int64

In [15]:
details.shape[0]

115660